# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Python Cache
.pytest_cache/
.mypy_cache/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Node.js
# ==========================
node_modules/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Build Files
# ==========================
dist/
build/

# ==========================
# Operating System
# ==========================
Thumbs.db
.DS_Store