APP_NAME=
APP_VERSION=

DEBUG=

SECRET_KEY=

DATABASE_URL=

ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=

OPENROUTER_API_KEY=

OPENROUTER_BASE_URL=

LLM_PROVIDER=

LLM_MODEL=

LLM_MAX_TOKENS=
LLM_TEMPERATURE=